include ../../text-field/text-field.pug
include ../../button/button.pug

mixin feedbackForm_size-s(options)
  -
    var options = options || {};
    var action = options.action || "sendOnBackend";
    var method = options.method || "post";
    var textTopSectionOne = options.textTopSectionOne || "Оставьте заявку, и мы предоставим полный план профосмотра ";
    var textTopSectionTwo = options.textTopSectionTwo || "с расчетом итоговой стоимости, подходящий именно вашей организации";
    var textFieldId = options.textFieldId || "phone";
    var textFieldType = options.textFieldType || "phone-height-s";
    var textField = {id: textFieldId, type: textFieldType};
    var buttonType = options.buttonType || "standard";
    var buttonText = options.buttonText || "Получить коммерческое предложение";
    var button = [buttonType, buttonText];
    var textOfferAgreement = options.textOfferAgreement || "Передавая информацию сайту, вы принимаете условия";
    var linkOfferAgreement = options.linkOfferAgreement || "noLink";
    var textLinkOfferAgreement = options.textLinkOfferAgreement || "Политики защиты персональной информации";

  form.feedbackForm.feedbackForm_size-s(action=action, method=method)
    .feedbackForm__content-top_size-s
      p.feedbackForm__offer-text.feedbackForm__offer-text_size-s= textTopSectionOne
        br
        | #{textTopSectionTwo}
      .feedbackForm__text-field.feedbackForm__text-field_size-s  
        +text-field(textField)
      .feedbackForm__button.feedbackForm__button_size-s 
        +button(button)
    .feedbackForm__content-bottom_size-s
      .feedbackForm__offer-agreement.feedbackForm__offer-agreement_size-s 
        .feedbackForm__text-offer-agreement.feedbackForm__text-offer-agreement_size-s= textOfferAgreement
        a.feedbackForm__link-offer-agreement.feedbackForm__link-offer-agreement_size-s(href=linkOfferAgreement)= textLinkOfferAgreement