include ../button/button.pug
include ../text-field/text-field.pug
include ../checkbox/checkbox.pug
include ../feedbackForm/feedbackForm.pug

mixin refinementSlider(options)
  - var options = options || {};

  .refinement-slider
    +question-slider(options)

mixin dots-block()
  .question-slider__step.js-image-slider__dot(data-index="1") Шаг 1
  .question-slider__step-two.js-image-slider__dot(data-index="2") Шаг 2
  .question-slider__step-three.js-image-slider__dot(data-index="3") Шаг 3
  .question-slider__step.js-image-slider__dot(data-index="4") Шаг 4

mixin question-slider(options)
  - var options = options || {};
  - var action = options.action || "/sliderForm";
  - var method = options.method || "POST";

  form.question-slider.js-image-slider(id="question-slider", action=action, method=method)
    .question-slider__question-box.js-image-slider__photo-room.image-slider__fade 
      .question-slider__image.question-slider__image_first-slide
        img.image-slider__image-room(src=require("../../images/slide1.jpg") alt="рабочий поднимается по лестнице")
      .question-slider__question.question-slider__question_first-slide
        .question-slider__step-number.question-slider__step-number_first-slide
          +dots-block()
        .question-slider__question-body.question-slider__question-body_first-slide
          .question-slider__question-border-number.question-slider__question-border-number_first-slide
            p.question-slider__question-number.question-slider__question-number_first-slide 1
          p.question-slider__question-text.question-slider__question-text_first-slide Чем занимается ваша организация?
        .question-slider__answer-box.question-slider__answer-box_first-slide
          +text-field({type: "text", id: "text-answer", placeholder: "Введите ответ"})
        .question-slider__navigation.question-slider__navigation_first-slide
          .question-slider__next.question-slider__next_first-slide.js-image-slider__next
            +button(['arrow-small', 'Далее']) 
    .question-slider__question-box.js-image-slider__photo-room.image-slider__fade 
      .question-slider__image.question-slider__image_second-slide
        img.image-slider__image-room(src=require("../../images/slide2.jpg") alt="человек в халате пишет на планшете")
      .question-slider__question.question-slider__question_second-slide
        .question-slider__step-number.question-slider__step-number_second-slide
            +dots-block()
        .question-slider__question-body.question-slider__question-body_second-slide
          .question-slider__question-border-number.question-slider__question-border-number_second-slide
            p.question-slider__question-number.question-slider__question-number_second-slide 2
          p.question-slider__question-text.question-slider__question-text_second-slide Укажите вид необходимой услуги 
            <br>
            | (Можно выбрать несколько вариантов)
        .question-slider__checkbox-box_second-slide
          .question-slider__checkbox-box-left
            +checkbox({name: "type of service", value: "", text: "Предварительный/периодический медицинский осмотр"})
            +checkbox({name: "type of service", value: "", text: "Выездной медицинский осмотр (профосмотр)"})
            +checkbox({name: "type of service", value: "", text: "Личные медицинские книжки (ЛМК)"})
            +checkbox({name: "type of service", value: "", text: "Психиатрическое освидетельствование"})
            +checkbox({name: "type of service", value: "", text: "Предрейсовые/послерейсовые профосмотры"})
            +checkbox({name: "type of service", value: "", text: "Предсменные/послесменные профосмотры"})
          .question-slider__checkbox-box-right
            +checkbox({name: "type of service", value: "", text: "Организация здравпункта на предприятии"})
            +checkbox({name: "type of service", value: "", text: "Диспансеризация"})
            +checkbox({name: "type of service", value: "", text: "Вакцинация"})
            +checkbox({name: "type of service", value: "", text: "Помощь в организации аттестации рабочих мест (СОУТ)"})
            +checkbox({name: "type of service", value: "", text: "Тендерный отдел"})
            +checkbox({name: "type of service", value: "", text: "Я не знаю, нужна помощь в подборе"})
        .question-slider__navigation.question-slider__navigation_second-slide 
          .question-slider__next.js-image-slider__next
            +button(['arrow-small', 'Далее']) 
          .question-slider__prev.js-image-slider__prev 
            +button(['arrow-blue', 'Назад']) 
    .question-slider__question-box.js-image-slider__photo-room.image-slider__fade 
      .question-slider__image.question-slider__image_third-slide
        img.image-slider__image-room(src=require("../../images/slide3.jpg") alt="3 человека в рабочей форме идут по ангару")
      .question-slider__question.question-slider__question_third-slide
        .question-slider__step-number.question-slider__step-number_third-slide
          +dots-block()
        .question-slider__question-body.question-slider__question-body_third-slide
          .question-slider__question-border-number.question-slider__question-border-number_third-slide
            p.question-slider__question-number.question-slider__question-number_third-slide 3
          p.question-slider__question-text.question-slider__question-text_third-slide Укажите количество сотрудников, которым нужно
            br
            | провести профосмотр.
        .question-slider__answer-box.question-slider__answer-box_third-slide
          +text-field({type: "number", id: "numberEmployees", placeholder: "Введите число"})
        .question-slider__navigation.question-slider__navigation_third-slide
          .question-slider__next.question-slider__next_third-slide.js-image-slider__next
            +button(['arrow-small', 'Далее']) 
          .question-slider__prev.js-image-slider__prev 
            +button(['arrow-blue', 'Назад'])
    .question-slider__question-box.js-image-slider__photo-room.image-slider__fade 
      .question-slider__image.question-slider__image_fourth-slide
        img.image-slider__image-room(src=require("../../images/slide4.jpg") alt="человек со стетоскопом")
      .question-slider__question.question-slider__question_fourth-slide
        .question-slider__step-number.question-slider__step-number_fourth-slide
          +dots-block()
        .question-slider__question-body.question-slider__question-body_fourth-slide
          .question-slider__question-border-number.question-slider__question-border-number_fourth-slide
            p.question-slider__question-number.question-slider__question-number_fourth-slide 4
          p.question-slider__question-text.question-slider__question-text_fourth-slide Вы планируете пройти профосмотр в одном из наших медцентров или
            br
            | требуется выездная бригада?
        .question-slider__answer-box.question-slider__answer-box_fourth-slide
          +radio-button({text: "В медцентре", name: "onPlace", checked: "checked", value: "in"})
          .question-slider__divider-radio-button
          +radio-button({text: "Требуется выездная бригада", name: "onPlace", value: "out"})
        .question-slider__navigation.question-slider__navigation_fourth-slide
          .question-slider__next.question-slider__next_fourth-slide.js-image-slider__next
            +button(['arrow-small', 'Далее']) 
          .question-slider__prev.js-image-slider__prev 
            +button(['arrow-blue', 'Назад']) 
    .question-slider__last-slide.js-last-slide
      h3.question-slider__header-last-slide Введите номер телефона, и мы вышлем вам расчет стоимости профосмотра и коммерческое предложение
      +feedbackForm({textTopSectionOne: " ", textTopSectionTwo: " ", stretches: true})



      
