include ../button/button.pug
include ../text-field/text-field.pug
include ../checkbox/checkbox.pug

mixin refinementSlider(options)
  - var options = options || {};
  - var images = options.images || []

  .refinement-slider
    +question-slider("1.jpg", "2.jpg", "3.jpg", "4.jpg")

mixin dots-block()
  .question-slider__step.js-image-slider__dot(data-index="1") Шаг 1
  .question-slider__step-two.js-image-slider__dot(data-index="2") Шаг 2
  .question-slider__step-three.js-image-slider__dot(data-index="3") Шаг 3
  .question-slider__step.js-image-slider__dot(data-index="4") Шаг 4

mixin question-slider([img1, img2, img3, img4])
  .question-slider.js-image-slider
    .question-slider__question-box.js-image-slider__photo-room.image-slider__fade 
      .question-slider__image.question-slider__image_first-slide
        img.image-slider__image-room_first-slide(src=require("../../images/slide1.jpg") alt="photo room")
      .question-slider__question.question-slider__question_first-slide
        .question-slider__step-number.question-slider__step-number_first-slide
          +dots-block()
        .question-slider__question-body.question-slider__question-body_first-slide
          .question-slider__question-border-number.question-slider__question-border-number_first-slide
            p.question-slider__question-number.question-slider__question-number_first-slide 1
          p.question-slider__question-text.question-slider__question-text_first-slide Чем занимается ваша организация?
        .question-slider__answer-box.question-slider__answer-box_first-slide
          +text-field({type: "text", id: "text-answer", placeholder: "Введите ответ"})
        .question-slider__navigation.question-slider__navigation_first-slide
          .question-slider__next.question-slider__next_first-slide.js-image-slider__next
            +button(['arrow-small', 'Далее']) 
    .question-slider__question-box.js-image-slider__photo-room.image-slider__fade 
      .question-slider__image.question-slider__image_fourth-slide
        img.image-slider__image-room_first-slide(src=require("../../images/slide4.jpg") alt="photo room")
      .question-slider__question.question-slider__question_fourth-slide
        .question-slider__step-number.question-slider__step-number_fourth-slide
          +dots-block()
        .question-slider__question-body.question-slider__question-body_fourth-slide
          .question-slider__question-border-number.question-slider__question-border-number_fourth-slide
            p.question-slider__question-number.question-slider__question-number_fourth-slide 4
          p.question-slider__question-text.question-slider__question-text_fourth-slide Вы планируете пройти профосмотр в одном из наших медцентров или
            br
            | требуется выездная бригада?
        .question-slider__answer-box.question-slider__answer-box_fourth-slide
          +radio-button({text: "В медцентре", name: "onPlace"})
          .question-slider__divider-radio-button
          +radio-button({text: "Требуется выездная бригада", name: "onPlace"})
        .question-slider__navigation.question-slider__navigation_fourth-slide
          .question-slider__next.question-slider__next_fourth-slide.js-image-slider__next
            +button(['arrow-small', 'Далее']) 
          .question-slider__prev.js-image-slider__prev 
            +button(['arrow-blue', 'Назад']) 
    .question-slider__question-box.js-image-slider__photo-room.image-slider__fade 
      .question-slider__image.question-slider__image_first-slide
        img.image-slider__image-room_first-slide(src=require("../../images/slide3.jpg") alt="photo room")
      .question-slider__question.question-slider__question_third-slide
        .question-slider__step-number.question-slider__step-number_third-slide
          +dots-block()
        .question-slider__question-body.question-slider__question-body_third-slide
          .question-slider__question-border-number.question-slider__question-border-number_third-slide
            p.question-slider__question-number.question-slider__question-number_third-slide 3
          p.question-slider__question-text.question-slider__question-text_third-slide Укажите количество сотрудников, которым нужно
            br
            | провести профосмотр.
        .question-slider__answer-box.question-slider__answer-box_third-slide
          +text-field({type: "number", id: "numberEmployees", placeholder: "Введите число"})
        .question-slider__navigation.question-slider__navigation_third-slide
          .question-slider__next.question-slider__next_third-slide.js-image-slider__next
            +button(['arrow-small', 'Далее']) 
          .question-slider__prev.js-image-slider__prev 
            +button(['arrow-blue', 'Назад']) 
    .question-slider__question-box.js-image-slider__photo-room.image-slider__fade 
      .question-slider__image
        img.image-slider__image-room(src=require("../../images/slide2.jpg") alt="photo room")
      .question-slider__question
        .question-slider__step-number
            +dots-block()
        .question-slider__question-body
          .question-slider__question-border-number
            p.question-slider__question-number 2
          p.question-slider__question-text Укажите вид необходимой услуги 
            <br>
            | (Можно выбрать несколько вариантов)
        .question-slider__checkbox-box
          +checkbox({name: "type of service", text: "Предварительный/периодический медицинский осмотр"})
          +checkbox({name: "type of service", text: "Выездной медицинский осмотр (профосмотр)"})
          +checkbox({name: "type of service", text: "Личные медицинские книжки (ЛМК)"})
          +checkbox({name: "type of service", text: "Психиатрическое освидетельствование"})
          +checkbox({name: "type of service", text: "Предрейсовые/послерейсовые профосмотры"})
          +checkbox({name: "type of service", text: "Предсменные/послесменные профосмотры"})
          +checkbox({name: "type of service", text: "Организация здравпункта на предприятии"})
          +checkbox({name: "type of service", text: "Диспансеризация"})
          +checkbox({name: "type of service", text: "Вакцинация"})
          +checkbox({name: "type of service", text: "Помощь в организации аттестации рабочих мест (СОУТ)"})
          +checkbox({name: "type of service", text: "Тендерный отдел"})
          +checkbox({name: "type of service", text: "Я не знаю, нужна помощь в подборе"})
        .question-slider__navigation 
          .question-slider__next.js-image-slider__next
            +button(['arrow-small', 'Далее']) 
          .question-slider__prev.js-image-slider__prev 
            +button(['arrow-blue', 'Назад']) 
    .question-slider__question-box.js-image-slider__photo-room.image-slider__fade 
      .question-slider__image
        img.image-slider__image-room(src=require("../../images/slide3.jpg") alt="photo room")
      .question-slider__question
        .question-slider__step-number
          +dots-block()
        .question-slider__question-body
          .question-slider__question-border-number
            p.question-slider__question-number 3
          p.question-slider__question-text Укажите количество сотрудников, которым нужно провести профосмотр.
        .question-slider__answer-box
          p OTVET 324234
        .question-slider__navigation 
          .question-slider__next.js-image-slider__next
              +button(['arrow-small', 'Далее']) 
          .question-slider__prev.js-image-slider__prev 
            +button(['arrow-blue', 'Назад']) 
    .question-slider__question-box.js-image-slider__photo-room.image-slider__fade 
      .question-slider__image
        img.image-slider__image-room(src=require("../../images/slide4.jpg") alt="photo room")      
      .question-slider__question
        .question-slider__step-number
          +dots-block()
        .question-slider__question-body
          .question-slider__question-border-number
            p.question-slider__question-number 4
          .question-slider__question-text Вы планируете пройти профосмотр в одном из наших медцентров или требуется выездная бригада?
        .question-slider__answer-box
          p OTVET afasdf ad afa fdf
        .question-slider__navigation 
          .question-slider__next.js-image-slider__next
            +button(['arrow-small', 'Далее']) 
          .question-slider__prev.js-image-slider__prev 
            +button(['arrow-blue', 'Назад'])

mixin image-slider(...images)
  .image-slider.js-image-slider
    each image in images
      .image-slider__photo-room.js-image-slider__photo-room.image-slider__fade
        img.image-slider__image-room(src=require("../../images/slide" + image) alt="photo room")
    a.image-slider__prev.js-image-slider__prev 
      span.image-slider__arrow-left navigate_before
    a.image-slider__next.js-image-slider__next
      span.image-slider__arrow-right navigate_before
    div.image-slider__dots
      span(class="image-slider__dot js-image-slider__dot" data-index="1")
      span(class="image-slider__dot js-image-slider__dot" data-index="2")
      span(class="image-slider__dot js-image-slider__dot" data-index="3")
      span(class="image-slider__dot js-image-slider__dot" data-index="4")

      
